html {
    background-color: linen;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

body {
    font-family: monospace;
    background-color: lemonchiffon;
    color: darkslategrey;
    background-image: radial-gradient(linen, lemonchiffon);
    border: 5px solid darksalmon;
    border-radius: 20px;
    padding: 20px;
    margin: 0;
    max-width: 90dvw;
    height: auto;
}

h1 {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
}

h2 {
    font-weight: normal;
    font-size: clamp(1.25rem, 1.75vw, 2rem);
}

p {
    font-size: clamp(1rem, 1.5vw, 1.75rem);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin: 0;
}

.main{
    display: flex;
    align-items: center;
    height: 100dvh;
    padding: 3rem;
}

.proj-card {
    max-width: 100%;
}

.links {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.link-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    gap: 3rem;
}

.link-list li {
    font-size: 1.5em;
}

.link-list a {
    white-space: nowrap;
}

@media screen and (min-width: 424px) {
    h1, h2 {
        justify-self: center;
    }
}